.navbar-nav a{
    font-size: 26px;
    padding: 10px 25px !important;
}
header{
    box-shadow: 0 0 5px 0 black;
    margin-top:15px;
}
header .active{
    font-weight: bold;
    background: #d2d2d2;
    border: 2px solid #6D6D6D;
    border-radius: 5px;
}
.main-border{
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
.main-radius{
    border-radius: 5px !important;
}

.nav-link:not(.active):hover{
    background: #efefef;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}
.navbar .navbar-expand-lg .navbar-light{
    border-radius: 5px !important;
}

.page{
    box-shadow: 0 0 5px 0 black;
    margin-top:15px;
    padding: 15px;
    min-height: 500px;
}

.contact-form{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.btn-primary{
    color:#fff;
    
}
.news-list{
    margin-top: 50px;
    margin-bottom: 50px;
}
.news-list h3{
    margin-bottom: 30px;
}
.news{
    text-align: justify;
    margin-bottom: 50px;
}
.news-list>div{
    box-shadow: 0 0 2px 2px #bdbdbd;
}
.oneNews:hover{
    background: #e1e1e1;
}
.data-news{
    text-align: right;
    font-size: 20px;
    color: brown;
    font-weight: bold;
}
.news-date{
    color: brown;
    font-weight: bold;  
    font-size: 22px;
    padding: 15px 0;
    text-align: right;
}
.news-title{
    font-weight: bold;
}
.news-desk{
    color: #383838;
    text-align: justify;
}
.ret-back{
    text-decoration: none;
    font-size: 22px;
}
.delete-news span{
    color:blue;
}