{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add news</h1>
    <form action="{{path('addNews')}}" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="6" ></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Add news</button>
        </div>
    </form>

{% endblock %}
