{% extends 'base.html.twig' %}

{% block body %}
    <a class="mb-3" href="{{path('newsList')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> News</a>
    <h1 class="delete-news">News "<span>{{title}}</span>" removed success</h1>
{% endblock %}
