{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center">
    <h1>News list</h1>
    <a class="btn btn-primary ml-3" href="{{path('addNews')}}">Add news</a>
    </div>
    <div class="news-list row">
        {% for news in news_list %}
            <div class="col-sm-12">
                <div class="row oneNews">
                    <h3 class="col-sm-9 mb-3 mt-3">{{news.title}}</h3>
                    <div class="col-sm-3 mt-3 data-news">{{news.dateUpdated|date("h:i d/m/Y")}}</div>
                    <div class="col-sm-12 news">
                        {{news.description|slice(0, 350)}}...
                        <a href="{{path('showNews', {'id':news.id}) }}" class="">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
