{% extends 'base.html.twig' %}

{% block body %}
    <div class="row pt-3 pb-3">
        <div class="col-9 ret-back">
            <a href="{{path('newsList')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> News</a>
        </div>
        <div class="col-3">
            <div class="data-news">{{News.dateUpdated|date("h:i d/m/Y")}}</div>
        </div>
    </div>
    <h1 class="news-title">{{News.title}}</h1>
    <div class="news-desk pb-5">
        <p>{{News.description}}</p>
    </div>
    
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteNews">
        Delete news
    </button>
    <div class="modal fade" id="deleteNews" tabindex="-1" role="dialog" aria-labelledby="deleteNewsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteNews">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Delete news:</p>
                    <b>{{News.title}}</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a type="button" class="btn btn-primary" href="{{path('deleteNews', {'id':News.id}) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}