{% extends 'base.html.twig' %}

{% block body %}
<a class="mb-3" href="{{path('newsList')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> News</a>
<h2>News created success</h2>
<a class="btn btn-primary" href="{{path('newsList')}}">News</span></a>
<a class="btn btn-primary" href="{{path('addNews')}}">Add more</span></a>
{% endblock %}
