<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog news{% endblock %}</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <script src="/jquery-3.3.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script defer src="/main.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="container">
    <header class="main-border">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand d-lg-none" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('home')}}">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('contacts')}}">Contacts</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('about')}}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('newsList')}}">News</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="page main-border">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
